@model WebApplication5.Models.AddWarehouseViewModel
@{
}
<h1 style="color:orangered">Добавить склад</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Название склада</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Номер телефона</label>
        <input type="phone" class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Адрес склада</label>
        <input type="address" class="form-control" asp-for="Address">
    </div>
    <input type="submit" value="Отправить" />
</form>