@model List<WebApplication5.Models.Domain.Employee>
@{
}

<h1 style="color:orangered">Сотрудники</h1>

<table class="table">
    <form asp-controller="Employees" asp-action="Index">
        <p>
            Введите должность сотрудника <input type="text" name="SearchString" />
            <input type="submit" value="Поиск" />
        </p>
    </form>
    <thead>
        <tr>
            <th>Идентицикатор сотрудника</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Зарплата</th>
            <th>Подробнее</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FIO</td>
                <td>@employee.Post</td>
                <td>@employee.Salary</td>
                <td><a href="Employees/View/@employee.Id">Изменить/Удалить</a></td>
            </tr>
        }
    </tbody>
</table>
<h6><a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Add">Добавить сотрудника</a></h6>