@model List<WebApplication5.Models.Domain.Client>
@{
}
<h1 style ="color:orangered">Список заказчиков</h1>

<table class="table">
    <form asp-controller="Clients" asp-action="Index">
        <p>
            Введите ФИО заказчика <input type="text" name="SearchString" />
            <input type="submit" value="Поиск" />
        </p>
    </form>
    <thead>
        <tr>
            <th>Идентификатор заказчика</th>
            <th>ФИО</th>
            <th>Номер телефона</th>
            <th>Адрес</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.Name</td>
                <td>@client.PhoneNumber</td>
                <td>@client.Address</td>
                <td><a href="Clients/View/@client.Id">Изменить/Удалить</a></td>
            </tr>
        }
    </tbody>
</table>
<h6><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Add">Добавить клиента</a></h6>