@using Microsoft.AspNetCore.Identity
@*@inject SignInManager<IdentityUser> SignInManager*@
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Оптовая база";
}
<h1 style="color:orangered"> Оптовая база</h1>
@if (SignInManager.IsSignedIn(User))
{
    <h5><span style="color:#FFD700">Вы находитесь в аккауте</span></h5>
}
else{
    <h5><span style="color:#FFD700"> Вы не находитесь в аккаунте</span></h5>
}
